<%- include("header") -%>

<div class="about-div">
    <h2 class="about-h2">This project was made during my Web Development Bootcamp guided by Dr. Angela Yu</h2>
    
    <p class="about-paragraph"> During this practice, I impoved my skills in EJS and NodeJS. Back then, it was very challenging due to my lack of knowledge in the area. Nowadays I am getting the hang of it and I still want to improve this project my including more technologies such as React and Bootstrap.</p>
    
    <p class="about-paragraph">I highly recommend Dr. Angela Yu's course for those who are trying to learn programming by themselves. It is a very useful course and it covers a lot of relevant topics!</p>
</div>

<%- include("footer") -%>