<footer>
        <h3 class="link-footer"><a href="/about">More info about it</a></h3>
        <h5 class="link-footer"><a href="/">Return to the homepage</a></h5>
    <h4>Project guided by the amazing Dr. Angela Yu.</h4>
</footer>
</body>
</html>